.ai-chat-form {
  background-color: var(--dark) !important;
}

.ai-chat-loader {
  color: var(--light) !important;
}

.ai-chat-insight-offcanvas {
  background-color: var(--dark) !important;

  .ai-chat-insight-offcanvas-header {
    background-color: var(--darker) !important;
    border-color: var(--darker) !important;
  }

  .ai-chat-form-wrapper {
    background-color: var(--darker) !important;
    border-top-color: var(--darker) !important;

    .ai-chat-form {
      background-color: var(--darker) !important;
    }
  }
}
