.card {
  box-shadow: none;
  border: 1px solid var(--dark);
  border-radius: 8px;
  background-color: var(--dark);

  .card-content {
    color: var(--light);
    background-color: var(--dark);
    padding: 5px 20px 20px 20px !important;

    .card-title, .title {
      color: var(--light) !important;
    }
  }

  .card-table {
    margin: 0 -20px !important;
    border: 0;
  }

  .enrichedHeadline .title, .card-title {
    position: relative;
    font-weight: 300 !important;
  }
}