.entityList {

  .dimensionCategory {
    color: #ffffff !important;
  }

  ul {

    li {

      .dimension {
        color: rgba(255, 255, 255, 0.7);
      }

      &.activeDimension .dimension {
        color: var(--light) !important;
      }
    }
  }
}