.form-help {
  background-color: var(--darker) !important;
  color: var(--light) !important;
}

.control_text {
  color: var(--light) !important;
}

button, input, optgroup, select, textarea {
  color: var(--light) !important;
}

select {
  background-color: var(--darker) !important;
  border-color: var(--dark) !important;

  &:focus {
    outline: 1px solid var(--primary) !important;
  }
}


.ui-datepicker {
  border-color: var(--darker) !important;

  thead {
    border-color: var(--darker) !important;
  }

  th, th.ui-datepicker-week-end,
  td, td.ui-datepicker-week-end {
    background-color: var(--dark) !important;

    .ui-state-default {
      background-color: var(--darker) !important;
      color: var(--light) !important;
    }
  }

  .ui-datepicker-header {
    background-color: var(--darker) !important;
    border-color: var(--darker) !important;
    color: var(--light) !important;
  }

  .ui-datepicker-calendar {
    border-color: var(--darker) !important;
  }
}