#funnelConversionTable {
  thead, tfoot {
    background-color: var(--theme-color-background-tinyContrast) !important;
  }

  th, td {
    border-color: var(--theme-color-border) !important;
  }
}

.manageFunnel .targetValidator .urlField .input-field label[for="urlField"] {
  color: inherit !important;
}