.RealTimeMap {

  .realTimeMap_overlay {
    text-shadow: none !important;
  }

  path {
    fill: var(--darker) !important;
    stroke: #ffffff;
  }
}

.UserCountryMap_map svg .context {
  fill: var(--dark) !important;
}

.UserCountryMap_map svg .regionBG {
  stroke: var(--dark) !important;
}

.UserCountryMap-legend {

  .content {
    background: var(--darker);
    color: var(--light-transparent);
  }
}

.dataTableFooterNavigation {

  .select-wrapper:hover {
    background-color: var(--darker) !important;
  }
}