.RealTimeMap {

  .realTimeMap_overlay {
    text-shadow: none !important;
  }

  path {
    fill: var(--darker) !important;
    stroke: #ffffff;
  }
}

.UserCountryMap_map svg .context {
  fill: var(--dark) !important;
}

.UserCountryMap_map svg .regionBG {
  stroke: var(--dark) !important;
}