.notification  {
  background-color: transparent !important;

  .notification-body {

    strong {
      color: var(--theme-color-text);
    }
  }
}

.system.notification {
  color: inherit !important;

  a {
    color: inherit !important;
  }
}