.segmentEditorPanel {

  .segmentListContainer {

    .segmentationContainer .submenu li {
      color: var(--light) !important;

      ul li {
        &:hover {
          background-color: var(--darker) !important;
        }
      }
    }
  }
}

.segment-generator {

  .segment-row, .segment-or, .segment-and, .segment-add-or, .segment-add-row {
    color: var(--light) !important;
    background: var(--darker) !important;
  }
}