.sidenav {
  background-color: var(--surface-raised);

  li {

    & > a {
      color: var(--text-primary);

      i {
        filter: invert(1);
      }

      &:hover {
        background-color: var(--hover-overlay);
      }
    }
  }
}

.sidenav .collapsible-body, .sidenav.fixed .collapsible-body {
  background-color: var(--surface-raised);
}