// sparkline colors
.sparkline-colors[data-name=backgroundColor] {
  color: var(--light);
}

.sparkline-colors[data-name=lineColor] {
  color: var(--light);
}

.sparkline-colors[data-name=minPointColor] {
  color: var(--light) //darken(#058DC7, 10);
}

.sparkline-colors[data-name=maxPointColor] {
  color: var(--light) //darken(#058DC7, 10);
}

.sparkline-colors[data-name=lastPointColor] {
  color: var(--light); //hidden
}

.sparkline-colors[data-name=fillColor] {
  color: lighten(#058DC7, 55);
}