.collection {
  border-color: var(--theme-color-border-alternative) !important;

  .collection-header {
    border-color: var(--theme-color-border-alternative) !important;
  }

  .collection-item {
    background-color: transparent !important;
    border-color: var(--theme-color-border-alternative) !important;

    &:hover {
      background-color: var(--theme-color-background-tinyContrast) !important;
    }
  }
}