.collection {
  border-color: var(--theme-color-border) !important;

  .collection-header {
    border-color: var(--theme-color-border) !important;
  }

  .collection-item {
    background-color: var(--theme-color-menu-contrast-background) !important;
    border-color: var(--theme-color-border) !important;

    &:hover {
      background-color: var(--theme-color-menu-contrast-backgroundHover) !important;
    }
  }
}