.visitor-profile-header h1 {
  color: inherit !important;
}

.visitor-profile-toggle-actions,
.visitor-profile-help,
.visitor-profile-close {

  &::before {
    background-color: transparent !important;
    color: var(--theme-color-widget-title-text) !important;
  }

}