.widget {

  .promoWidget {
    background-color: transparent;
  }

  #piwik-promo-share {
    background-color: var(--darker);
  }

  .rss-description,
  #piwik-widget-footer {
    color: var(--light-transparent) !important;
  }
}