.matomo-widget {

  .UserCountryMap-overlay {

    .content {
      background: var(--theme-color-background-tinyContrast);

      .map-stats {
        color: var(--theme-color-text-highContrast) !important;
      }
    }
  }

  select {
    background: var(--theme-color-background-contrast);
    border-color: var(--theme-color-background-tinyContrast);
    color: var(--theme-color-text-highContrast) !important;
  }

  .limitSelection > div .select-wrapper {
    background-color: var(--theme-color-background-contrast);

    &:hover {
      background-color: var(--theme-color-background-base);
    }
  }
}